@charset "utf-8";

.contact-block {
	position: relative;
	width: calc((100% - 40px) / 3);
	background-color: #4040A0;

	border: 1px solid #00000000;
	border-radius:10px;
	padding: 6px;
}

.contact-block p {
	margin-top: 4px;
	margin-bottom: 4px;
	overflow-wrap: break-word;
}

.contact-block:hover {
	border-color: #ff0000;
}

/* I'm going to implement the click to delete text since I've never used psuedo elements*/
.contact-block:hover::after {
	content: "click to delete";
	position: absolute;
	bottom:-22px;
	right: 8px;
	color: #ff0000;
	/* text-decoration: underline; */
}

/* I'm not going to implement a most recent but you can imagine how it would go. */